<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pytorch.demo.speechrecognition">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/selector" /
        -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>